@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}
.kenburns-top {
  -webkit-animation: kenburns-top 5s cubic-bezier(0.215, 0.61, 0.355, 1)
    backwards;
  animation: kenburns-top 5s cubic-bezier(0.215, 0.61, 0.355, 1) backwards;
}

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

/* .ant-layout {
  min-height: 100vh !important;
  overflow-y: hidden !important;
} */

.demo-logo-vertical {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}

.ant-layout-sider {
  flex: 0 0 200px !important;
  max-width: 200px !important;
  min-width: 200px !important;
  width: 200px !important;
}
.ant-layout-sider-collapsed {
  /* flex: 0 0 50px !important;
  max-width: 50px !important;
  min-width: 50px !important;
  width: 50px !important; */
  display: none;
}

main::-webkit-scrollbar {
  width: 0px;
}

.ant-layout main {
  overflow-y: scroll;
  background-color: transparent !important;
  height: 100vh;
}

.demo-logo-vertical {
  /* background-color: #ffd333; */
  height: 64px;
  margin: 0;
}

.ant-layout-header h2 {
  line-height: 25px;
  font-size: 20px;
}
.ant-layout-header p {
  line-height: 15px;
  font-size: 13px;
}
