@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Rubik", sans-serif;
  
}

body::-webkit-scrollbar {

  width: 0px;
}

a {
  text-decoration: none;
  display: inline-block;
}

.demo-logo-vertical {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}

.ant-layout-sider {
  flex: 0 0 200px !important;
  max-width: 200px !important;
  min-width: 200px !important;
  width: 200px !important;
}
.ant-layout-sider-collapsed {
  /* flex: 0 0 50px !important;
  max-width: 50px !important;
  min-width: 50px !important;
  width: 50px !important; */
  display: none;
}

main::-webkit-scrollbar {
  width: 0px;
}

.ant-layout main {
  overflow-y: scroll;
  background-color: transparent !important;
  height: 100vh;
}

.demo-logo-vertical {
  /* background-color: #ffd333; */
  height: 64px;
  margin: 0;
}

.ant-layout-header h2 {
  line-height: 25px;
  font-size: 20px;
}
.ant-layout-header p {
  line-height: 15px;
  font-size: 13px;
}

/* .slick-prev:after, .slick-prev:before, .slick-disabled{
  color: #FF3E3E;
  padding-left: 15px;
  opacity: 100;

}
.slick-prev:after, .slick-prev:before{
  color: #FF3E3E;
  padding-left: 15px;
  opacity: 100;

}
.slick-next:before, .slick-next:after, .slick-disabled{
  color: #FF3E3E;
  opacity: 100;
  margin-right: 25px;
}
.slick-next:before, .slick-next:after{
  color: #FF3E3E;
  opacity: 100;
  margin-right: 25px;
} */

.slick-list {margin: 0 -5px;}
.slick-slide>div {padding: 0 10px;}

